h3 {
  text-align: center;
}

p:nth-child(even) {
  background: grey;
}

.App {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uptime {
  border: 1px solid brown;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.my-saved-titles {
  border: 1px solid red;
  width: 22%;
}

.read-unread {
  border: 1px solid purple;
  width: 22%;
}

.filtered-list {
  border: 1px solid blue;
  width: 22%;
}

.reddit-list {
  border: 1px solid green;
  width: 22%;
}

.titles:nth-child(even) {
  background: grey;
}
